
# Bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
env/
ENV/

# PyInstaller build
dist/** */
build/** */
*.spec

# VS Code
.vscode/

# OS/Misc
.DS_Store
Thumbs.db

# Settings & Daten
settings.json
icons.xcf
screenshots/


# Logs
*.log
